node_modules
**/node_modules
.git
.github
dist
**/dist
build
**/build
.turbo
**/.turbo
.next
**/.next
.cache
**/.cache
**/.blinko

*.log
logs
**/*.log
**/logs
tmp
**/tmp

.vscode
.idea
*.swp
*.swo
.DS_Store
**/thumbs.db
**/.DS_Store
**/._*

coverage
**/coverage
.nyc_output
**/.nyc_output
tests
**/tests
__tests__
**/__tests__

*.md
*.mdx
*.txt
LICENSE
CHANGELOG.md
README.md
CONTRIBUTING.md
.blinko

**/target

!**/dist-js/*