.ͼo {
  background-color: transparent !important;
}

.ͼ1 .cm-scroller {
  font-family: system-ui !important;
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: #0969da !important;
}

._linkDialogPopoverContent_uazmk_600,
._tableColumnEditorPopoverContent_uazmk_601,
._dialogContent_uazmk_602 {
  background-color: var(--background) !important;
}

._contentEditable_uazmk_379 {
  max-height: 80vh;
  overflow-y: scroll;
  color: var(--foreground) !important;
  padding: 0 !important;
  padding-left: 7px !important;
}

.prose :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h5):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h6):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--foreground) !important;
}

.prose :where(strong):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--foreground) !important;
}

.ͼ1x {
  background-color: var(--background);
  color: var(--foreground);
  height: 100%;
}



._dialogContent_uazmk_602 {
  border-radius: 16px !important;
  filter: unset;
}

._imageWrapper_uazmk_922 img {
  border-radius: 16px !important;
}

._imageResizer_uazmk_1027 {
  border-radius: 2px !important;
  background-color: var(--desc) !important;
}

._editImageToolbar_uazmk_935 {
  background-color: transparent !important;
}

._primaryButton_uazmk_506,
._secondaryButton_uazmk_507 {
  background-color: var(--primary) !important;
  color: var(--primary-foreground) !important;
  border-radius: 12px !important;
  cursor: pointer;
}


/* [id^="radix-"]:not(._selectItem_uazmk_300 [id^="radix-"]),
[id^="radix-"]:not(._dialogContent_uazmk_602 [id^="radix-"]){
  display: none;
} */
#radix-\:r1dv\: {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
}

._textInput_uazmk_1186 {
  border: none!important;
  background-color: var(--sencondbackground) !important;
  border-radius: 12px !important;
}

#radix-\:rc2\: {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

#radix-\:rm\: {
  display: flex !important;
  flex-direction: column !important;
  padding: 10px !important;
}

._selectItem_uazmk_300 {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* height: 30px !important;00 */
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}


.ͼo .cm-activeLineGutter {
  background-color: #7a1cac !important;
  color: white !important;
}

._code_1tncs_52 {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

#cm-ac-czkr li {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

#cm-ac-czkr li[aria-selected="true"] {
  background-color: var(--foreground) !important;
  color: var(--background) !important;
}

._selectItem_uazmk_300:hover {
  background-color: var(--sencondbackground) !important;
  transition: all 0.2s ease-in-out;
}

#radix-\:r4q\: {
  color: var(--foreground) !important;
  display: block !important;
}

/* ._codeMirrorToolbar_uazmk_408 {
  background-color: transparent !important;
} */

._toolbarNodeKindSelectTrigger_uazmk_305,
._toolbarButtonSelectTrigger_uazmk_306,
._selectTrigger_uazmk_307 {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

@media (hover: hover) {

  ._toolbarToggleItem_uazmk_206:hover,
  ._toolbarButton_uazmk_237:hover {
    background-color: var(--sencondbackground) !important;
  }
}

.mdxeditor-toolbar {
  background-color: transparent !important;
  padding: 0 !important;
}

.mdxeditor-toolbar svg {
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
  color: var(--foreground) !important;
}

.mdxeditor-toolbar .blinko {
  color: #EAB308 !important;
}

.mdxeditor-toolbar .note {
  color: #3B82F6 !important;
}

.mdxeditor-toolbar .white {
  color: white !important;
}

.mdxeditor-toolbar .primary-foreground {
  color: var(--primary-foreground) !important;
}

.mdxeditor-toolbar .custom-svg {
  width: 18px !important;
  height: 18px !important;
  cursor: pointer;
}


.mdxeditor-root-contenteditable>div:first-of-type {
  padding: 0 !important;
  padding-left: 7px !important;
  padding-right: 5px !important;
}



._popupContainer_uazmk_1220 {
  position: relative;
  z-index: 99 !important;
}

.mdxeditor {
  display: flex;
  /* flex-direction: column; */
  flex-direction: column-reverse;
}

.prose {
  max-width: 100% !important;
}

.prose li[role=checkbox] {
  text-indent: 2rem;
}

.prose li[role=checkbox]:before {
  transform: translate(6px, 6px);
}

.prose li[role=checkbox]:after {
  transform: translate(6px, 6px) rotate(45deg);
}

.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0.75em;
}

.prose :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--foreground) !important;
}

.blinko-toolbaricon {
  color: rgb(234 179 8 / var(--tw-text-opacity)) !important;
}

.note-toolbaricon {
  color: rgb(59 130 246 / var(--tw-text-opacity)) !important;
}

.contextmenu {
  padding: 2px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  box-shadow: var(--shadow) !important;
  border-radius: 17px !important;
  border: 2px solid var(--desc);
  background-color: var(--background) !important;
}

.contextmenu .contextmenu__item {
  border-radius: 12px !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.contextmenu .contextmenu__item:hover {
  background-color: var(--sencondbackground) !important;
}

.prose :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  list-style-type: disc;
  padding-inline-start: 15px !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.prose :where(ol):not(:where([class~=not-prose], [class~=not-prose] *)) {
  list-style-type: auto !important;
  padding-inline-start: 15px !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.prose :where(.prose > :last-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0 !important;
}

.prose :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.prose :where(ul > li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-inline-start: 0 !important;
}

.prose ul>li {
  margin: 0 !important;
}

.prose ol>li {
  margin: 0 !important;
}

.audio-recorder {
  box-shadow: none !important;
  background-color: transparent !important;
}