.mdxeditor-toolbar {
  background-color: transparent !important;
  padding: 0 !important;
}

.mdxeditor-toolbar svg {
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
}

.mdxeditor-toolbar .custom-svg {
  width: 18px !important;
  height: 18px !important;
  cursor: pointer;
}

.mdxeditor-root-contenteditable>div:first-of-type {
  padding: 0 !important;
  padding-left: 7px !important;
  padding-right: 5px !important;
}

._contentEditable_uazmk_379 {
  padding: 0 !important;
  padding-left: 7px !important;
}

._popupContainer_uazmk_1220 {
  position: relative;
  z-index: 99 !important;
}

.mdxeditor {
  display: flex;
  /* flex-direction: column; */
  flex-direction: column-reverse;
}

.prose {
  max-width: 100% !important;
}

.prose li[role=checkbox] {
  text-indent: 2rem;
}

.prose li[role=checkbox]:before {
  transform: translate(6px, 6px);
}

.prose li[role=checkbox]:after {
  transform: translate(6px, 6px) rotate(45deg);
}

.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0.75em;
}

.blinko-toolbaricon {
  color: rgb(234 179 8 / var(--tw-text-opacity)) !important;
}

.note-toolbaricon {
  color: rgb(59 130 246 / var(--tw-text-opacity)) !important;
}

.contextmenu {
  padding: 2px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  box-shadow: var(--shadow) !important;
  border-radius: 17px !important;
  border: 2px solid var(--desc);
  background-color: var(--background) !important;
}

.contextmenu .contextmenu__item {
  border-radius: 12px !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.prose :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  list-style-type: disc;
  padding-inline-start: 15px !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.prose :where(ol):not(:where([class~=not-prose], [class~=not-prose] *)) {
  list-style-type: auto !important;
  padding-inline-start: 15px !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.prose :where(.prose > :last-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0 !important;
}

.prose :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.prose :where(ul > li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-inline-start: 0 !important;
}

.prose ul>li {
  margin: 0 !important;
}
.prose ol>li {
  margin: 0 !important;
}

.audio-recorder {
  box-shadow: none !important;
  background-color: transparent !important;
}