.ͼo {
  background-color: transparent;
}

.ͼ1 .cm-scroller {
  font-family: system-ui;
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: #0969da;
}

._linkDialogPopoverContent_uazmk_600,
._tableColumnEditorPopoverContent_uazmk_601,
._dialogContent_uazmk_602 {
  background-color: var(--background);
}

._contentEditable_uazmk_379 {
  max-height: 80vh;
  overflow-y: scroll;
  color: var(--foreground);
  padding: 0;
  padding-left: 7px;
}

.prose :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h5):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h6):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--foreground);
}

.prose :where(strong):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--foreground);
}

.ͼ1x {
  background-color: var(--background);
  color: var(--foreground);
  height: 100%;
}

._codeMirrorToolbar_uazmk_408 {
  background-color: transparent;
}

._codeMirrorWrapper_uazmk_391 {
  border-color: var(--hover);
}
._selectWithLabel_uazmk_1002 label {
  display: none;
}

.ͼo {
  color: var(--foreground);
}

.ͼo .cm-activeLineGutter {
  background-color: var(--sencondbackground);
}

div[id^="radix-"][role="dialog"] {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

._dialogContent_uazmk_602 {
  border-radius: 16px;
  filter: unset;
}

._imageWrapper_uazmk_922 img {
  border-radius: 16px;
}

._imageResizer_uazmk_1027 {
  border-radius: 2px;
  background-color: var(--desc);
}

._editImageToolbar_uazmk_935 {
  background-color: transparent;
}

._primaryButton_uazmk_506,
._secondaryButton_uazmk_507 {
  background-color: var(--primary);
  color: var(--primary-foreground);
  border-radius: 12px;
  cursor: pointer;
}


/* [id^="radix-"]:not(._selectItem_uazmk_300 [id^="radix-"]),
[id^="radix-"]:not(._dialogContent_uazmk_602 [id^="radix-"]){
  display: none;
} */
#radix-\:r1dv\: {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

._textInput_uazmk_1186 {
  border: none;
  background-color: var(--sencondbackground);
  border-radius: 12px;
}

#radix-\:rc2\: {
  background-color: var(--background);
  color: var(--foreground);
}

#radix-\:rm\: {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

._selectItem_uazmk_300 {
  background-color: var(--background);
  color: var(--foreground);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* height: 30px ;00 */
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}


._code_1tncs_52 {
  background-color: var(--background);
  color: var(--foreground);
}

#cm-ac-czkr li {
  background-color: var(--background);
  color: var(--foreground);
}

#cm-ac-czkr li[aria-selected="true"] {
  background-color: var(--foreground);
  color: var(--background);
}

._selectItem_uazmk_300:hover {
  background-color: var(--sencondbackground);
  transition: all 0.2s ease-in-out;
}

#radix-\:r4q\: {
  color: var(--foreground);
  display: block;
}

/* ._codeMirrorToolbar_uazmk_408 {
  background-color: transparent ;
} */

._toolbarNodeKindSelectTrigger_uazmk_305,
._toolbarButtonSelectTrigger_uazmk_306,
._selectTrigger_uazmk_307 {
  background-color: var(--background);
  color: var(--foreground);
}

@media (hover: hover) {

  ._toolbarToggleItem_uazmk_206:hover,
  ._toolbarButton_uazmk_237:hover {
    background-color: var(--sencondbackground);
  }
}

.mdxeditor-toolbar {
  background-color: transparent;
  padding: 0;
}

.mdxeditor-toolbar svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--foreground);
}

.mdxeditor-toolbar .blinko {
  color: #EAB308;
}

.mdxeditor-toolbar .note {
  color: #3B82F6;
}

.mdxeditor-toolbar .white {
  color: white;
}

.mdxeditor-toolbar .green {
  color: var(--green-500);
}

.mdxeditor-toolbar .red {
  color: var(--red-500);
}

._toolbarToggleItem_uazmk_206[data-state=on],
._toolbarButton_uazmk_237[data-state=on],
._toolbarToggleItem_uazmk_206:active,
._toolbarButton_uazmk_237:active {
  background-color: var(--sencondbackground);

}

.mdxeditor-toolbar .custom-svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
}


.mdxeditor-root-contenteditable>div:first-of-type {
  padding: 0;
  padding-left: 7px;
  padding-right: 5px;
}

._popupContainer_uazmk_1220 {
  position: relative;
  z-index: 99;
}

.mdxeditor {
  display: flex;
  /* flex-direction: column; */
  flex-direction: column-reverse;
}

.prose {
  max-width: 100%;
}

.prose li[role=checkbox] {
  text-indent: 2rem;
}

.prose li[role=checkbox]:before {
  transform: translate(6px, 6px);
}

.prose li[role=checkbox]:after {
  transform: translate(6px, 6px) rotate(45deg);
}

.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0.75em;
}

.prose :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--foreground);
}

.blinko-toolbaricon {
  color: rgb(234 179 8 / var(--tw-text-opacity));
}

.note-toolbaricon {
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.prose :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  list-style-type: disc;
  padding-inline-start: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.prose :where(ol):not(:where([class~=not-prose], [class~=not-prose] *)) {
  list-style-type: auto;
  padding-inline-start: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.prose :where(.prose > :last-child):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 1px;
  margin-bottom: 1px;
}

.prose :where(ul > li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  padding-inline-start: 0;
}

.prose ul>li {
  margin: 0;
}

.prose ol>li {
  margin: 0;
}

.audio-recorder {
  box-shadow: none;
  background-color: transparent;
}